Flask
pymessenger
gunicorn
-e git+https://github.com/goldsmith/Wikipedia#egg=wikipedia
pageviewapi
python-rake
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
nltk